<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.lumobc.lumo.fetch</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BlueAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueAppIcon</string>
				</array>
			</dict>
			<key>LightGreenAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightGreenAppIcon</string>
				</array>
			</dict>
			<key>NavyAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NavyAppIcon</string>
				</array>
			</dict>
			<key>OrangeAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OrangeAppIcon</string>
				</array>
			</dict>
			<key>PurpleAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PurpleAppIcon</string>
				</array>
			</dict>
			<key>RedAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RedAppIcon</string>
				</array>
			</dict>
			<key>YellowAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>YellowAppIcon</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserNotificationUsageDescription</key>
	<string>We send notifications whenever a new assignment, grade, or absence record is posted.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
